:root {
	--yellow:  hsl(47, 88%, 63%);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
	height: auto;
}

body {
	height: 100vh;
	background-color: var(--yellow);
	display: grid;
	place-items: center;
	font-family: Figtree;
	font-weight: 500;
	font-size: 16px;
	color: hsl(0, 0%, 42%);
}

h2 {
	color: hsl(0, 0%, 7%);
}

.card {
	background-color: hsl(0, 0%, 100%);
	padding: 1.3rem;
	border-radius: 1rem;
	max-inline-size: 350px;
	border: 1px solid hsl(0, 0%, 7%);
	box-shadow: 10px 10px hsl(0, 0%, 7%);
}

.card > h2:hover {
	color: var(--yellow);
	cursor: pointer;
}

.card > img {
	inline-size: 100%;
	border-radius: 1rem;
}

.card__tags {
	margin-top: 1.5rem;
}

.card__tag {
	padding: 0.5rem;
	background-color: var(--yellow);
	border-radius: 0.2rem;
	font-weight: 800;
	color: hsl(0, 0%, 7%);
}

.card__pub-data {
	margin-top: 1.5rem;
	color: hsl(0, 0%, 7%);
}

.profile-link {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: hsl(0, 0%, 7%);
	font-weight: 800;
}

.profile-link__avatar {
	height: 35px;;
}
